name: Check SteamOS Updates

on:
  # push 삭제됨
  schedule:
   - cron: '17 * * * *'
  workflow_dispatch:

jobs:
  check-steamos:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run check script
        env:
          WEBHOOK_PRIVATE: ${{ secrets.WEBHOOK_PRIVATE }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python check_steamos.py
          
      - name: Commit and push history
        run: |
          git config --global user.name "SteamOS Bot"
          git config --global user.email "bot@github.com"
          git add sent_steamos.json
          # [핵심] [skip ci] 추가
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update history [skip ci]" && git pull --rebase && git push)